{% extends '::office_base.html.twig' %}

{% form_theme form 'BuxAccountBundle:Twig:fields.html.twig' %}

{% block iconbar %}
    {#{% include 'BuxAccountBundle::iconbar.html.twig' %}#}
{% endblock iconbar %}

{% block content %}
    <div class="columns clear bt-space20">
        {% include 'BuxAccountBundle::blog_menu.html.twig' %}
        <div class="col3-4 lastcol">
            <!-- CONTENT BOX -->
            <div class="content-box">
                <div class="box-body">
                    <div class="box-header clear">
                        <h2>{{ 'frontend.account.advertiser.poll_ads_creation_form'|trans }}</h2>
                    </div>

                    <div class="box-wrap clear">
                        {{ form_start(form, {'attr': {'class': 'validate-form form bt-space15'} }) }}
                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.title, 'frontend.account.advertiser.form.title'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.title, {'attr': {'class': 'required list fl-space2'} }) }}
                                    {% if form_errors(form.title) %}
                                        <label class="error form-error">{{ form_errors(form.title) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.description, 'frontend.account.advertiser.form.description'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.description, {'attr': {'class': 'required list fl-space2'} }) }}
                                    {% if form_errors(form.description) %}
                                        <label class="error form-error">{{ form_errors(form.description) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.question, 'frontend.account.advertiser.form.question'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.question, {'attr': {'class': 'required list fl-space2'} }) }}
                                    {% if form_errors(form.question) %}
                                        <label class="error form-error">{{ form_errors(form.question) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        {% for answer in form.answers %}
                            {#{{ form_row(answer.answer) }}#}
                            <div class="columns clear bt-space15">
                                <div class="col2-3">
                                    <div class="form-field clear">
                                        {{ form_label(answer.answer, 'frontend.account.advertiser.form.answer'|trans ~ ' ' ~ loop.index, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                        {{ form_widget(answer.answer, {'attr': {'class': 'required list fl-space2'} }) }}
                                        {% if form_errors(answer.answer) %}
                                            <label class="error form-error">{{ form_errors(answer.answer) }}</label>
                                        {% endif %}
                                    </div><!-- /.form-field -->
                                </div>
                            </div>
                        {% endfor %}

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.maxClickInDay, 'frontend.account.advertiser.form.max_click_in_day'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.maxClickInDay, {'attr': {'class': 'required list fl-space2', 'value': '0'} }) }}
                                    {% if form_errors(form.maxClickInDay) %}
                                        <label class="error form-error">{{ form_errors(form.maxClickInDay) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.memberships, 'frontend.account.advertiser.form.target_membership'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.memberships, {'attr': {'class': 'required list fl-space2'} }) }}
                                    {% if form_errors(form.memberships) %}
                                        <label class="error form-error">{{ form_errors(form.memberships) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.value, 'frontend.account.advertiser.form.ad_value'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.value, {'attr': {'class': 'required list fl-space2', 'style': 'width: 190px'} }) }}
                                    {% if form_errors(form.value) %}
                                        <label class="error form-error">{{ form_errors(form.value) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    {{ form_label(form.countries, 'frontend.account.advertiser.form.target_country'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    {{ form_widget(form.countries, {'attr': {'class': 'required fl-space2'} }) }}
                                    {% if form_errors(form.countries) %}
                                        <label class="error form-error">{{ form_errors(form.countries) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    <a href="#modal-label" class="label modal-link">
                                        {{ form_label(form.terms, 'frontend.account.advertiser.form.terms'|trans, {'label_attr': {'class': 'form-label size-180 fl-space2'} }) }}
                                    </a>
                                    {{ form_widget(form.terms, {'attr': {'class': 'required list fl-space2', 'style': 'margin-left: -80px'} }) }}
                                    {% if form_errors(form.terms) %}
                                        <label class="error form-error">{{ form_errors(form.terms) }}</label>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        {{ form_rest(form) }}
                        <div class="form-field clear" style="float: left; margin-left: 138px">
                            <input type="submit" class="button blue fr" value="{{ 'frontend.blogs.action.save'|trans }}" />
                        </div><!-- /.form-field -->
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL WINDOW -->
    <div id="modal-label" class="modal-window modal-800">
        {{ page|raw }}
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#all-countries').click(function() {
                if($("#all-countries").is(':checked')){
                    $('.countries').attr('checked', true);
                } else {
                    $('.countries').attr('checked', false);
                }
            })

            $('#all-memberships').click(function() {
                if($("#all-memberships").is(':checked')){
                    $('.memberships').attr('checked', true);
                } else {
                    $('.memberships').attr('checked', false);
                }
            })
        });
    </script>
{% endblock js %}