{% block checkbox_widget -%}
    <div class="checkbox">
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ form.vars.label|trans }}
        </label>
    </div>
{%- endblock checkbox_widget %}

{% block money_widget -%}
    <div class="input-group">
        {{ block('form_widget_simple') }}
        <span class="input-group-addon">
            {{ money_pattern|replace({ '{{ widget }}': '' })|raw }}
        </span>
    </div>
{%- endblock money_widget %}