{% extends '::office_base.html.twig' %}

{#{% form_theme form ':form:fields.html.twig' %}#}

{% block iconbar %}
    {#{% include 'BuxAccountBundle::iconbar.html.twig' %}#}
{% endblock iconbar %}

{% block content %}
    <div class="columns clear bt-space20">
        {% include 'BuxAccountBundle::blog_menu.html.twig' %}

        <!-- DASHBOARD - RIGHT COLUMN -->
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="notification note-success">
                <a href="#" class="close" title="Close notification">close</a>
                <p><strong>{{ flashMessage }}</strong></p>
            </div>
        {% endfor %}

        <!-- DASHBOARD - RIGHT COLUMN -->
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="notification note-error">
                <a href="#" class="close" title="Close notification">close</a>
                <p><strong>{{ flashMessage }}</strong></p>
            </div>
        {% endfor %}

        <div class="col3-4 lastcol">
            <!-- CONTENT BOX - DATATABLE -->
            <div class="content-box">
                <div class="box-body">
                    <div class="box-header clear">
                        <h2>{{ 'frontend.account.menu.withdraw_your_earnings'|trans }}</h2>
                    </div>

                    <div class="box-wrap clear">
                        <form method="post" action="">
                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    <label class="form-label size-120 fl-space2">{{ 'frontend.account.form.payment_method'|trans }}</label>
                                    <input type="text" class="required text fl-space2" disabled="disabled" value="{{ payment_method }}">
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    <label class="form-label size-120 fl-space2">{{ 'frontend.account.form.payment_account'|trans }}</label>
                                    <input name="account" type="text" class="required text fl-space2" value="{{ account.account }}"  readonly required="required" />
                                    {% if ac_error %}
                                        <span style="color: red; margin-top: 5px">{{ ac_error }}</span>
                                    {% endif %}
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="columns clear bt-space15">
                            <div class="col2-3">
                                <div class="form-field clear">
                                    <label class="form-label size-120 fl-space2">{{ 'frontend.account.form.you_will_receive'|trans }}</label>
                                    <input name="sum" type="text" class="required text fl-space2" value="{{ app.user.wallet.sum }}" readonly />
                                </div><!-- /.form-field -->
                            </div>
                        </div>

                        <div class="form-field clear" style="float: left; margin-left: 130px">
                            <a href="{{ path('office_account_cashout') }}" class="button blue fr" style="margin-left: 20px; padding: 2.5px 10px">{{ 'frontend.account.action.cancel'|trans }}</a>
                            <input type="submit" class="button blue fr" value="{{ 'frontend.account.action.send'|trans }}" />
                        </div><!-- /.form-field -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}